/* line 1, ../sass/addons/_globals.sass */
::-webkit-scrollbar {
  display: none;
}

/* line 3, ../sass/addons/_globals.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/addons/_globals.sass */
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

/* line 12, ../sass/addons/_globals.sass */
ul li {
  font-size: 14px;
  line-height: 1.3em;
  text-decoration: none;
  list-style: none;
}
/* line 18, ../sass/addons/_globals.sass */
ul a {
  text-decoration: none;
  color: #333;
}
/* line 22, ../sass/addons/_globals.sass */
ul a:hover {
  color: #dbc057;
}

/* line 25, ../sass/addons/_globals.sass */
h1, h2, h3, h4, h5 {
  color: #333;
  margin: 10px auto;
}

/* line 29, ../sass/addons/_globals.sass */
h1 {
  font-size: 30px;
}

/* line 32, ../sass/addons/_globals.sass */
h1.white {
  color: #eee;
}

/* line 1, ../sass/addons/_container.sass */
.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav inner-body inner-body inner-body";
  overflow: hidden;
}

/* line 8, ../sass/addons/_container.sass */
.nav {
  grid-area: nav;
  position: fixed;
  height: 100%;
  width: 8%;
  padding: 20px;
  overflow: hidden;
  background: #e4e4e4;
  text-align: center;
  z-index: 100;
  clear: both;
}
/* line 20, ../sass/addons/_container.sass */
.nav ul {
  height: 100%;
}
/* line 23, ../sass/addons/_container.sass */
.nav ul li {
  line-height: 5em;
  margin: 1em auto;
}

/* line 27, ../sass/addons/_container.sass */
.inner-body {
  grid-area: inner-body;
}

/* line 30, ../sass/addons/_container.sass */
i.fa {
  margin: auto 5px;
}

/* line 3, ../sass/addons/_header.sass */
.header {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "cta cta cta-img cta-img";
  background-image: linear-gradient(rgba(226, 199, 93, 0.8), rgba(167, 146, 64, 0.87)), url("/assets/img/pattern-yellow.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  overflow: hidden;
}
/* line 14, ../sass/addons/_header.sass */
.header .cta {
  grid-area: cta;
}
/* line 17, ../sass/addons/_header.sass */
.header .cta-img {
  grid-area: cta-img;
  justify-items: end;
}
/* line 21, ../sass/addons/_header.sass */
.header .cta-img img {
  width: 350px;
  position: relative;
  top: 3px;
}
/* line 27, ../sass/addons/_header.sass */
.header .cta h1 span.expressive {
  font-size: 100px;
  font-family: "Abril Fatface", cursive;
  z-index: 99999;
}

/* line 32, ../sass/addons/_header.sass */
.cta {
  position: absolute;
  top: 40%;
  left: 15%;
  vertical-align: middle;
}

/* line 11, ../sass/style.sass */
.design {
  background: #eee;
  height: auto;
  padding: 5%;
  text-align: center;
  z-index: 5;
  position: absolute;
}
/* line 19, ../sass/style.sass */
.design h1 {
  font-family: "Roboto", sans-serif;
}
/* line 22, ../sass/style.sass */
.design .folio-item {
  display: inline;
}
/* line 25, ../sass/style.sass */
.design .folio-item img {
  width: 25.33333%;
  margin: 20px;
}

/* line 30, ../sass/style.sass */
.mondays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "video video video video";
  position: relative;
  height: auto;
  clear: both;
  top: 30%;
}
/* line 39, ../sass/style.sass */
.mondays .video {
  grid-area: video;
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 45, ../sass/style.sass */
.mondays .video video {
  position: relative;
  width: 100%;
  height: 100%;
}
